.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-0%);
}

.split {
		font-size:40px;
	}
	
.space {
	padding-top: 20px;
	padding-bottom: 20px;
}

.centered text {
	font-size:19px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.centered a {
	font-size:19px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.centered p {
	font-size:19px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.left {
	margin: auto;
	text-align: center;
	width:30%;
	background-color: #202020;
	border: 2px solid white;
	border-radius: 2px;
	height:20%
}

/* Control the right side */
.right {
	margin: auto;
	text-align: center;
	width:30%;
	background-color: #202020;
	border: 2px solid white;
	border-radius: 2px;
	height:20%
}

.left text{
	padding-top: 10px;

	font-size: 30px;

	text-align: center;
	color:white;
}

/* Control the right side */
.right text{
	padding-top: 10px;

	font-size: 30px;
;
	text-align: center;
	color:white;
}

html {
  scroll-behavior: smooth;
}

.left a{
	padding-top:10px;
	margin: auto;
	text-align: center;
	color:green;
	font-size: 18px;

}

.left a:hover{
	color:blue;
	background-color:current-color;
	font-size: 20px;
	overflow: hidden;

}

/* Control the right side */
.right a{
	padding-top:20px;
	margin: auto;
	text-align: center;
	color:green;
	font-size: 18px;

}

.left p{
	padding-top:20px;
	padding-bottom:20px;
	margin: auto;
	text-align: center;
	color:white;
	overflow: hidden;
	font-size: 18px;
}

/* Control the right side */
.right p{
	padding-top:20px;
	padding-bottom:20px;
	margin: auto;
	text-align: center;
	color:white;
	overflow: hidden;
	font-size: 16px;
}



.topnav {
	border:2px solid #202020;
	border-radius: 4px;
	padding-top: 1px;
	background-color: #202020;
	overflow: hidden;
	text-align: center;
}

.bodynav {
	background-color: #252528;
	overflow: hidden;
}

@keyframes colorsa {
	0%	{color:red;}
	25% {color:yellow;}
	50%  {color:blue;}
	75%  {color:green;}
	100% {red;}
}

.bodynav h1:hover{
	animation-name: colorsa;
	animation-duration: 4s;
}

.hometext colorg {
	color: green;
}

.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 30px;
}

.hometext text{
	color: white;
	font-size: 24px;
	text-align: center;

}

.buttomnav {
	border: 2px solid #202020;
	border-radius: 2px;
	background-color: #202020;
	overflow: hidden;
	padding-top: 1px;
	text-align: center;
}

audio {
	text-align: center;
}

.button { 
	border: 2px solid #303030;
	border-radius:2px;
	backgroundcolor: green;
	overflow: hidden;
	text-align: center
}

.buttomnav text{
	float: buttom;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Prompt', sans-serif;
	
}

.buttomnav a{
	float: center;
	color: #808080;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Prompt', sans-serif;
	
}

.buttomnav a:hover {
	background-color: #404040;
	color:white;	
	
}


.topnav a {
	float: center;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 19px;
	font-family: 'Prompt', sans-serif;
}

.topnav a:hover {
	background-color: #04AA6D;
	color:white;	
	
}

h1 {
	text-decoration: none;
	letter-spacing: 8px;
	font-family: 'Mochiy Pop One', sans-serif;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	color: white;
}

h2 {
	color: white;
	padding-top: 30px;
	letter-spacing: 5px;
	padding-left: 70px;
	text-decoration: underline;
	font-family: 'Gugi', cursive;
}

body {
	background-color:#282828
}

@media (max-width: 4000px){
	.left {
	width:55%;
	height:30%
}

	.left p{
	font-size:23px;
}

	.right p{
	font-size:23px;
}

/* Control the right side */
	.right {
	width:55%;
	height:40%
}
}

@media (max-width: 1050px){
	.topnav a {
	font-size: 25px;	
}
	.bodynav h1{
		font-size:20px;
}
	h2 {
	text-align:left;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 70px;
	text-decoration: underline;
}
	.hometext text{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 22px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}
	.left {
	width:80%;
	height:20%
}

/* Control the right side */
	.right {
	width:80%;
	height:20%
}
}


@media (max-width: 900px){
	h2 {
	text-align:left;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 70px;
	text-decoration: underline;
}
	.hometext text{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 22px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}
	.left {
	width:60%;
	height:20%
}

/* Control the right side */
	.right {
	width:60%;
	height:20%
}
}

@media (max-width: 850px){
	.topnav a {
	font-size: 25px;	
}
	.bodynav h1{
		font-size:20px;
}
	h2 {
	text-align:left;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 30px;
	text-decoration: underline;
}
	.hometext text{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 22px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}
	.left {
	width:80%;
	height:20%
}

/* Control the right side */
	.right {
	width:80%;
	height:20%
}
}

@media (max-width: 800px){
	.topnav a {
	font-size: 25px;	
}
	.bodynav h1{
		font-size:20px;
}
	h2 {
	text-align:left;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 30px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 22px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}
	.left {
	width:80%;
	height:20%
}

/* Control the right side */
	.right {
	width:80%;
	height:20%
}
}

@media (max-width: 750px){
	.topnav a {
	font-size: 25px;	
}
	.bodynav h1{
		font-size:20px;
}
	h2 {
	text-align:left;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 30px;
	text-decoration: underline;
}
	.hometext text{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 22px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}
	.left {
	width:80%;
	height:20%
}

/* Control the right side */
	.right {
	width:80%;
	height:20%
}
}
@media (max-width: 700px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 650px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 600px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}

@media (max-width: 550px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 500px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 30px;
}
	.left {
	width:80%;
	height:30%
}

/* Control the right side */
	.right {
	width:80%;
	height:30%
}
}
@media (max-width: 450px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 400px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}

@media (max-width: 350px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 300px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 250px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}
@media (max-width: 200px){
	.topnav a {
	font-size: 20px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	text-align:center;
	padding-top: 28px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	margin: auto;
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	margin: auto;
	width:100%;
	height:20%
}
}

@media (max-width: 150px){
	.topnav a {
	font-size: 15px;	
}
	.bodynav h1{
		font-size:16px;
}
	h2 {
	padding-top: 30px;
	letter-spacing: 1px;
	padding-left: 0px;
	text-decoration: underline;
}
	.hometext text{
	font-size: 20px;
	text-align: center;

}
	.hometext {
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}
	.left {
	width:100%;
	height:20%
}

/* Control the right side */
	.right {
	width:100%;
	height:20%
}
}

